@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

.react-grid-layout {
    margin-top: 1rem;
    background: #EFF9FE;
    min-height: 10rem;
}

.react-grid-item {
    box-sizing: border-box;
}

.react-grid-item:not(.react-grid-placeholder) {
    border: 1px solid rgb(255, 0, 0);
}

.react-grid-item.resizing {
    opacity: 0.9;
}

.react-grid-item .text {
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 24px;
}

.droppable-element {
    display: block;
    padding: 10px;
}

.tools-container {
    display: block;
    height: 100vh;
    border-right: 1px solid #0252BF;
    overflow-x: hidden;
    overflow-y: scroll;
}

.code-container {
    display: block;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: 1px solid #0252BF;
}

.tools-title {
    text-shadow: 1px 1px 2px rgb(231, 231, 254);
    text-align: center;
    color: #0252BF !important;
    text-transform: uppercase;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    margin-top: 1rem;
}